body {
  font-size: var(--font-size);
  font-family: var(--font-family--normal);
  background-color: var(--color-light);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover)
}

p:not(:last-child), 
ul:not(:last-child), 
ol:not(:last-child), 
dl:not(:last-child),
h2, h3, h4, h5
{
  margin-bottom: var(--gap);
}

h1,h2, h3, h4, h5 {
  font-weight: 900;
}

h1 {
  font-size: calc(var(--font-size) * 2);
  font-weight: 900;
  margin-bottom: calc(var(--gap) * 3);
}

li, dd {
  margin-bottom: calc(var(--gap) * 0.5);
}

hr {
  margin: calc(var(--gap)*2) 0;
  border: .5px solid var(--app-bordercolor);
}

/* + FORMS, INPUTS */

input, select, .button {
  background-color: var(--app-inputbg);
  border-radius: var(--app-inputbradius);
  border: var(--app-borderwidth) solid var(--app-bordercolor);
  box-sizing: border-box;
  color: var(--app-textcolor);
  font-family: var(--font-family--normal);
  font-size: var(--font-size);
  font-weight: 700;
  height: var(--app-inputheight); /* not good, but really need now */
  line-height: 1;
  padding: calc(var(--app-inputpadding) * 0.8) var(--app-inputpadding);
  transition-duration: 0.33s;
  transition-property: border, background-color;
  transition-timing-function: ease-in-out;
}

input.block, select.block, .button.block {
  display: block;
  width: 100%;
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 12 19' style='enable-background:new 0 0 12 19;' xml:space='preserve'><path d='M6.8,0.3c-0.5-0.5-1.2-0.5-1.7,0L0.4,5.1c-0.5,0.5-0.5,1.2,0,1.7c0.5,0.5,1.2,0.5,1.7,0l4-3.9l4,3.9c0.5,0.5,1.2,0.5,1.7,0c0.5-0.5,0.5-1.2,0-1.7L6.8,0.3z M0.4,13.9l4.8,4.8c0.5,0.5,1.2,0.5,1.7,0l4.8-4.8c0.5-0.5,0.5-1.2,0-1.7c-0.5-0.5-1.2-0.5-1.7,0l-4,3.9l-4-3.9c-0.5-0.5-1.2-0.5-1.7,0C-0.1,12.7-0.1,13.4,0.4,13.9z'/></svg>");
  background-position-x: calc(100% - var(--app-inputpadding));
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: .5rem;
  padding-right: calc(var(--app-inputpadding) * 1.5 + 0.5rem);
  user-select: none;
}

input[type=text]:focus, input[type=password]:focus {
  --app-bordercolor: var(--color-navy);
}

input[type=checkbox] {
  border: var(--app-borderwidth) solid var(--app-bordercolor);
  height: calc(var(--app-inputheight) * .5);
  width: calc(var(--app-inputheight) * .5);
}

input[type=checkbox]:not(:last-child) {
  margin-right: calc(var(--gap) * .5);
}

input[type=submit], .button {
  background-color: var(--app-buttoncolor);
  border-color: var(--app-buttoncolor);
  color: var(--app-buttontextcolor);
}

input[type=submit]:not(:disabled):active, .button:not(:disabled):active { --app-buttoncolor: var(--app-buttoncolor-active); }
input[type=submit]:not(:disabled):hover, .button:not(:disabled):hover { --app-buttoncolor: var(--app-buttoncolor-hover); }

select:not([disabled]),
input[type=checkbox]:not([disabled]),
input[type=submit]:not([disabled]),
.button:not([disabled]) {
  cursor: pointer;
}

.button-green {
  --app-buttoncolor: var(--color-green);
}

.button > *:not(:last-child) {
  margin-right: calc(var(--gap) * 0.5);
}

label {
  font-weight: 700;
}
/* - FORMS, INPUTS */

/* + POPOVER API */
/* [popover] {
} */

:popover-open {
  background-color: var(--app-popoverbg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: var(--app-inputbradius);
  border: none;
  inset: unset;
  padding: var(--gap);
}

[popovertarget] {
  transition: opacity 0.3s ease-in-out;
}

:popover-open ~ [popovertarget] {
  opacity: .6;
}

:popover-open::backdrop {
  backdrop-filter: grayscale(1);
}

.popovercontrol {
  align-items: center;
  background-color: var(--app-inputbg);
  border-radius: 50%;
  border: var(--app-borderwidth) solid var(--app-bordercolor);
  cursor: pointer;
  display: flex;
  height: var(--app-inputheight);
  justify-content: center;
  user-select: none;
  width: var(--app-inputheight);
  color: var(--app-textcolor);
  font-size: var(--font-size);
}

.popovercontrol .svg-inline--fa path {
  fill: var(--app-textcolor);
}

@supports not selector(:popover-open) {
  .popover {
    background-color: #fff;
    inset: unset;
    border: 0;
    padding: var(--gap);
  }
}
/* - POPOVER API */

/* + SCROLLABLE CONTENT */
.scrollable-y {
  overflow-y: auto;
  max-height: 100%;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  border-radius: 4px;
  background: #EAEAEA; 
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #A5A5A5; 
}
/* - SCROLLABLE CONTENT */

/* + FLEX */
.flexline {
  display: flex;
  gap: var(--gap);
  align-items: center;
}

.flexline.space-between {
  justify-content: space-between;
}

.flexline.align-start {
  align-items: start;
}
/* - FLEX */

/* + TEXT */
.clipoverflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.textsmall {
  font-size: .8em;
}
/* - TEXT */

section:not(:last-child) {
  margin-bottom: calc(var(--gap) * 2);
}

#app {
  position: relative;
  max-width: 100vw;
  min-height: 100svh;
}

#app.map {
  overflow: hidden;
}

.container {
  padding: calc(var(--gap) * 0.5) var(--gap);
}

.container-pagetext {
  padding: calc(var(--gap) * 7) var(--gap) calc(var(--gap) * 3);
  margin: 0 auto;
  max-width: 1200px;
}

.sensors-container {
  padding-top: 2rem;
  display: inline-flex;
  flex-direction: column;
}

@media screen and (max-width: 680px) {
  .sensors-container {
    display: flex;
  }
}

.title {
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  transition: color 0.33s ease-in-out, background-color 0.33s ease-in-out;
}

.subtitle {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  font-family: var(--font-family--normal);
  transition: color 0.33s ease-in-out, background-color 0.33s ease-in-out;
}

.text {
  font-family: var(--font-family--normal);
  font-weight: normal;
  text-transform: none;
  line-height: 1.5;
  text-align: justify !important;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  transition: color 0.33s ease-in-out, background-color 0.33s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  .text-changabletheme {color: var(--color-light)}
}

.text-small { font-size: .8em; }

.text-tip {
  margin-top: var(--gap);
  /* margin-bottom: calc(var(--gap) * 2); */
  font-family: var(--font-family--normal);
  /* font-size: 12px; */
  color: var(--color-dark);
  font-weight: 400;
  font-style: italic;
  text-transform: none;
}

.sensors-screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: color 0.33s ease-in-out, background-color 0.33s ease-in-out;
}

.sensors-screen-layers {
  display: flex;
  flex-direction: column;
  /* overflow-y: auto; */
  pointer-events: none;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transition: color 0.33s ease-in-out, background-color 0.33s ease-in-out;
}

.sensors-screen-layers--center {
  flex: 1 0 auto;
  position: relative;
}

/* CENTER PANELS */
*[class *= 'sensors-panel--center-'] {
  position: absolute;
  top: calc(var(--gap) * 5);
  bottom: var(--gap);
  z-index: 10;
  width: 48%;
}

.sensors-panel--center-right {
  right: var(--gap);
}

.sensors-panel--center-left {
  left: var(--gap);
}

*[class *= 'sensors-panel--center-'] .sensors-panel:not(:last-child) {
  margin-bottom: var(--gap);
}

/* MAP LOADING */

.dark .sensors-screen.loading {
  background-color: #424241;
}

.sensors-screen.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light);
  z-index: 9999;
}


.sensors-container .fa-compass {
  display: none;
}

.sensors-screen.loading .fa-spin {
  display: block;
  position: fixed;
  z-index: 100;
  top: calc(50% - 2rem);
  left: calc(50% - 2rem);
  font-size: 4rem;
  color: var(--color-link)
}
/* end of MAP LOADING */


/* POPUP */

.popup, .popup-js {
  background-color: var(--color-light);
  color: var(--color-dark);
  display: none;
  opacity: 0;
  position: relative;
  transform: translateY(20px);
  transition: color 0.33s ease-in-out, background-color 0.33s ease-in-out;
}

.popup:target, .popup-js.active {
  display: block;
  animation: popup 0.2s linear 0.2s forwards;
}

.popup-wrapper {
  position: absolute;
  top: calc(var(--gap) * 3);
  z-index: 10;
}

@keyframes popup {
  to {
      opacity: 1;
      transform: translateY(0px);
  }
}

.popup__close {
  color: var(--color-dark);
  font-size: calc(var(--gap) * 1.8);
  position: absolute;
  right: calc(var(--gap) * 0.5);
  top: calc(var(--gap) * 0.5); 
  background-color: transparent;
}

.popup__close svg {
  display: block;
}

.popup__content {
  max-height: 500px;
  overflow-y: auto;
}


/* header popup styles */

.header .popup__content h3  {
  text-transform: none;
  margin-bottom: var(--gap);
}

.header .sensors-panel-top-nav-content h3 {
  margin-top: calc(var(--gap) * 1.5);
  margin-bottom: calc(var(--gap) * 0.5);
}

.sensors-panel-top-nav-content .nav__item {
  padding: 0.2rem 0;
  margin-bottom: 0;
}

.sensors-panel-top-nav-content .nav__link {
  font-family: var(--font-family--normal);
  font-weight: 300;
  font-size: calc(var(--font-size) * 0.85);
  color: var(--color-blue);
  text-transform: none;
}

.header .popup__content .text {
  font-size: calc(var(--font-size) * 0.85);
  text-align: left !important;
}

.header__close-popup, 
.footer__close-popup {
  align-self: flex-end;
  width: 20px;
  height: 20px;
  margin-bottom: var(--gap);
  background-image: url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.6894 0.321199C13.2753 -0.0929084 12.6064 -0.0929084 12.1923 0.321199L7 5.50284L1.80774 0.31058C1.39363 -0.103527 0.724687 -0.103527 0.31058 0.31058C-0.103527 0.724687 -0.103527 1.39363 0.31058 1.80774L5.50284 7L0.31058 12.1923C-0.103527 12.6064 -0.103527 13.2753 0.31058 13.6894C0.724687 14.1035 1.39363 14.1035 1.80774 13.6894L7 8.49716L12.1923 13.6894C12.6064 14.1035 13.2753 14.1035 13.6894 13.6894C14.1035 13.2753 14.1035 12.6064 13.6894 12.1923L8.49716 7L13.6894 1.80774C14.0929 1.40425 14.0929 0.724687 13.6894 0.321199Z" fill="%232D2C2C"/></svg>');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.dark .header__close-popup,
.dark .footer__close-popup {
  background-image: url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.6894 0.321199C13.2753 -0.0929084 12.6064 -0.0929084 12.1923 0.321199L7 5.50284L1.80774 0.31058C1.39363 -0.103527 0.724687 -0.103527 0.31058 0.31058C-0.103527 0.724687 -0.103527 1.39363 0.31058 1.80774L5.50284 7L0.31058 12.1923C-0.103527 12.6064 -0.103527 13.2753 0.31058 13.6894C0.724687 14.1035 1.39363 14.1035 1.80774 13.6894L7 8.49716L12.1923 13.6894C12.6064 14.1035 13.2753 14.1035 13.6894 13.6894C14.1035 13.2753 14.1035 12.6064 13.6894 12.1923L8.49716 7L13.6894 1.80774C14.0929 1.40425 14.0929 0.724687 13.6894 0.321199Z" fill="white"/></svg>');
}


/* POPUP end */

/* overlay */
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 15;
  opacity: 0;
  visibility: hidden;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
}

/* DATE SELECT */
.sensors-dateselect input[type="date"] {
  padding: 0.2rem 0.5rem;
  border-width: 2px;
  font: inherit;
}

.sensors-dateselect span {
  display: inline-block;
  color: var(--color-dark);
  vertical-align: middle;
}

.dark .sensors-dateselect span {
  color: var(--color-middle-gray);
}

.sensors-dateselect .sensors-switcher label {
  margin: 0 0.4rem 0 1.2rem
}


@media screen and (max-width: 1250px) {

  .sensors-panel--bottom {
    align-items: flex-start;
  }

  .sensors-panel--bottom .sensors-switcher {
    display: block;
    margin-top: calc(var(--gap) * 0.5)
  }

  .sensors-dateselect .sensors-switcher label {
    margin: 0;
  }
}

@media screen and (max-width: 600px) { 
  .sensors-panel--bottom {
      display: block;
  }

  .sensors-panel--bottom .sensors-panel-section:not(:last-child) {
      margin-bottom: var(--gap);
  }
}
/* end of DATE SELECT */


/* ANIMATION */
@keyframes fadeIn {
  to {
      opacity: 1;
      visibility: visible;
  }
}

@keyframes fadeOut {
  to {
      opacity: 0;
      visibility: hidden;
  }
}

@keyframes rolldownLeft {
  to {
    transform: scaleX(0);
}
}

@keyframes blink {
  0%{
    opacity: .5;
  }
  50% {
      opacity: 1;
  }
  100%{
    opacity: .5;
  }
}