:root {
  --color-light: #fff;
  --color-dark: #000;
  --color-gray: #b7b7bc;
  --color-middle-gray: #d7d7e3;
  --color-light-gray: #f3f3f9;
  --color-light-gray-shop: #edeef3;
  --color-blue: #007bff;
  --color-teal: #12bfcc;
  --color-green: #60bc2a;
  --color-green-bright: hsl(83, 100%, 71%);
  --color-bright-green-dim: hsla(83, 100%, 71%, 0.372);
  --color-red: #e2005a;
  --color-bright-red: #ff4d00;
  --color-yellow: #f5ff00;
  --color-orange: #ff9d00;
  --color-purple: #7a00da;
  --color-navy: hsl(219, 63%, 45%);

  /* Measurements colors */
  --measure-nodata: #d5d3d3;
  --measure-green: #6bde28;
  --measure-bluegreen: #01eaea;
  --measure-yellow: #fdcb24;
  --measure-orange: #ff8732;
  --measure-red: #fd4c1f;
  --measure-darkred: #eb0004;
  --measure-blue: #00aeff;
  --measure-darkblue: #016ee3;

  --color-link: var(--color-blue);
  --color-link-hover: var(--color-green);

  --font-family--normal: "Noto Sans", sans-serif;
  --font-size: 0.9rem;

  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 16px;

  --gap: 1rem;

  --sensor-popup-bg: #ffffff;

  --app-bodybg: #ffffff;
  --app-borderwidth: 2px;
  --app-bordercolor: #000;
  --app-inputbg: #fff;
  --app-inputtextcolor: #000;
  --app-inputpadding: 0.8rem;
  --app-inputbradius: 0.3rem;
  --app-textcolor: #000;
  --app-inputheight: 2.4rem;
  --app-popoverbg: #fff;
  --app-buttoncolor: hsl(211, 100%, 50%);
  --app-buttoncolor-active: hsl(211, 96%, 40%);
  --app-buttoncolor-hover: hsl(211, 98%, 34%);
  --app-buttontextcolor: #fff;
  --app-popoverbg: #fff;
  --app-tablebody: #fff;
  --app-tablerow: #f8fbff;
  --app-tableborder: #ddd;

  --app-controlsgap: calc(var(--gap) * 2);

  /* stories */
  --surface-bg-soft: rgba(0, 0, 0, 0.02);
  --surface-border: rgba(0, 0, 0, 0.12);
  --surface-border-soft: rgba(0, 0, 0, 0.08);
  --pad-sm: 0.625rem;
  --pad-md: 0.75rem;
}

@media screen and (max-width: 920px) {
  :root {
    --font-size: 0.8rem;
    --gap: 0.5rem;
  }

  .leaflet-bottom .leaflet-control {
    margin-bottom: 0;
  }
}
