:root {
  --color-light: #fff;
  --color-gray: #4e4e4f;
  --color-middle-gray: #B6BDC4;
  --color-light-gray: #d5d3d3;
  --color-dark: #000;
  --color-blue: #03a5ed; 
  --color-teal: #12bfcc;
  --color-green: #60bc2a;
  --color-red: #fc0202; 
  --color-bright-red: #ff4d00;
  --color-yellow: #f5ff00;
  --color-orange: #ff9d00;
  --color-purple: #7a00da;
  --color-navy: hsl(219, 63%, 45%);

  --color-link: var(--color-blue);
  --color-link-hover: var(--color-green);

  --font-family--normal: 'Noto Sans', sans-serif;
  --font-size: 1rem;

  --gap: 1rem;

  --sensor-popup-bg: #ffffff;

  --main-bg: #ffffff;

  --app-borderwidth: 2px;
  --app-bordercolor: #000;
  --app-inputbg: #fff;
  --app-inputpadding: .4rem;
  --app-inputbradius: .3rem;
  --app-textcolor: #000;
  --app-inputheight: 2.4rem;
  --app-popoverbg: #fff;
  --app-buttoncolor:hsl(219, 63%, 45%);
  --app-buttoncolor-active:hsl(219, 63%, 60%);
  --app-buttoncolor-hover:hsl(219, 63%, 35%);
  --app-buttontextcolor: #fff;
  --app-popoverbg: #fff;

  --app-controlsgap: calc(var(--gap) * 2);
}

@media screen and (max-width: 500px) {
  :root {
    --font-size: .8rem;
    --gap: .5rem;
  }

  .leaflet-bottom .leaflet-control {
    margin-bottom: 0;
  }
}