@import url(reset.css);
@import url(variables.css);
@import url(layout.css);

#map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    height: auto;
    z-index: 0;
}