/* BASE & TYPOGRAPHY */
body {
    font-size: var(--font-size);
    font-family: var(--font-family--normal);
}

body *::selection {
    color: var(--color-light);
    background-color: var(--color-dark); 
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    color: var(--color-link-hover)
}

p:not(:last-child), 
ul:not(:last-child), 
ol:not(:last-child), 
dl:not(:last-child),
h2, h3, h4, h5
{
    margin-bottom: var(--gap);
}

li, dd {
    margin-bottom: calc(var(--gap) * 0.5);
}

.text {
    font-family: var(--font-family--normal);
    font-weight: normal;
    text-transform: none;
    line-height: 1.5;
    text-align: justify !important;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.text-small {
    font-size: 80%;
}

.nowrap {
    white-space: nowrap;
}

.sensors-screen {
    position: relative;
    width: 100vw;
    height: 100vh; /* fallback */
    height: 100svh; /* smallest */
    overflow: hidden;
}

.sensors-screen-layers {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    pointer-events: none;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.sensors-screen-layers--center {
    flex: 1 0 auto;
    position: relative;
}

.text-tip {
    color: var(--color-gray);
    border-top: 1px solid var(--color-gray);
    font-size: 80%;
    margin-top: var(--gap);
    padding-top: var(--gap);
}

/* end of BASE & TYPOGRAPHY */


/* SELECT */
.sensors-select {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    position: relative;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sensors-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: 0;
    outline: 0;

    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    text-transform: inherit;
    cursor: pointer;

    padding-right: 0.7rem;
}

.sensors-select i {
    pointer-events: none;
    position: absolute;
    right: 0;
    top: calc(50% - 1.3rem * 0.5);
}

.sensors-select.green {
    color: var(--color-green)
}

.sensors-select.blue {
    color: var(--color-blue)
}
/* end of SELECT */

/* INPUT */
input[type="date"] {
    border: 1px solid var(--color-dark);
    background-color: var(--color-light);
    padding: 0.5rem 1rem;
    border-radius: 4px;
}
/* end of INPUT */

/* SWITCHER */
.sensors-switcher {
    display: inline-block;
    white-space: nowrap;
}

.sensors-switcher input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
    display: none;
}

.sensors-switcher label {
	cursor: pointer;
	text-indent: -9999px;
	width: 2.5rem;
	height: 1.5rem;
	background: var(--color-dark);
	display: block;
	border-radius: 2rem;
	position: relative;
    display: inline-block;
    vertical-align: middle;
    user-select: none;
}

.sensors-switcher label:after {
	content: "";
	position: absolute;
	top: 0.2rem;
	left: 0.2rem;
	width: 1.1rem;
	height: 1.1rem;
	background: var(--color-light);
	border-radius: 1.1rem;
	transition: 0.3s;
}

.sensors-switcher input:checked + label {
	background: var(--color-green);
}

.sensors-switcher input:checked + label:after {
	left: calc(100% - 0.2rem);
	transform: translateX(-100%);
}

label:active:after {
	width: 1rem;
}

.sensors-switcher input:checked ~ span {
	color: var(--color-green);
}

.sensors-switcher.disabled label, .sensors-switcher.disabled span {
    filter: grayscale(1);
    opacity: 0.5;
    pointer-events: none;
}
/* end of SWITCHER */


/* POPUP */
.popup, .popup-js {
    display: none;
    opacity: 0;
    position: relative;
    transform: translateY(20px);
    padding-right: calc(var(--gap) * 2.2) !important;
}

.popup:target, .popup-js.active {
    display: block;
    animation: popup 0.2s linear 0.2s forwards;
}

@keyframes popup {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.popup__close {
    color: var(--color-dark);
    font-size: calc(var(--gap) * 1.8);
    position: absolute;
    right: calc(var(--gap) * 0.5);
    top: calc(var(--gap) * 0.5); 
}

.popup__close i {
    display: block;
}

.popup__content {
    max-height: 500px;
    overflow-y: auto;
}
/* POPUP end */


/* PANELS */
.sensors-panel {
    background-color: rgba(255, 255, 255, 1);
    padding: calc(var(--gap) * 0.5) var(--gap);
    pointer-events: all;

    font-family: var(--font-family--black);
    font-weight: bold;
    text-transform: uppercase;
}

.sensors-panel:not(.sensors-panel--top):not(.sensors-panel--bottom){
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.sensors-panel--top {
    background-color: var(--color-dark);
    color: var(--color-light);
    position: sticky;
}

.sensors-panel--top a {
    color: var(--color-light)
}

.sensors-panel--bottom.sensors-panel {
    background-color: transparent;
    pointer-events: none;
}

.sensors-panel--bottom.sensors-panel > * {
    pointer-events: all;
}

.sensors-panel--bottom.sensors-panel .sensors-panel-section {
    float: left;
    clear: both;
}

.sensors-panel--top, .sensors-panel--bottom {
    display: grid;
    gap: var(--gap);
    align-items: center
}

.sensors-panel-section > * {
    display: inline-block;
    vertical-align: middle;
}

.sensors-panel-section section:not(:last-child) {
    margin-right: var(--gap);
}

/* end of PANELS */


/* TOP PANEL */

.sensors-panel--top {
    box-shadow: 0 0 10px 2px #ccc;
    grid-template-columns: minmax(450px, 1fr) 4fr;
    position: sticky;
    top: 0;
    z-index: 10;
}

.sensors-panel-title {
    font-size: inherit;
}

.sensors-panel-title:not(:last-child) {
    margin-right: var(--gap);
}

.sensors-panel-title.green {
    color: var(--color-green)
}

.sensors-panel--top .sensors-panel-section:nth-child(2) {
    text-align: right;
}

.sensors-panel-top-nav {
    margin-right: var(--gap);
}

.sensors-panel-top-nav ul, .sensors-panel-top-nav li {
    margin-bottom: 0;
}

.sensors-panel-top-nav li {
    display: inline-block;
    margin-right: var(--gap);
    text-transform: capitalize;
    font-family: var(--font-family--normal);
}

.sensors-panel-top-nav-selector {
    display: none;
    color: var(--color-link);
    border: 0;
    outline: 0;
    font-size: inherit;
    cursor: pointer;
    margin-left: var(--gap);
}

.sensors-panel-top-nav--close {
    display: none;
    position: absolute;
    z-index: 11;
    font-size: 2rem;
    top: var(--gap);
    right: var(--gap);
}

@media screen and (max-width: 980px) {
    .sensors-panel-top-nav {
        display: none;
    }

    .sensors-panel-top-nav-content {
        background-color: var(--color-light);
        bottom: 0;
        /* opacity: 0; */
        padding: calc(var(--gap) * 5) calc(var(--gap) * 2);
        position: fixed;
        right: 0;
        text-align: left;
        top: 0;
        /* transform: translateX(250px); */
        width: 250px;
        z-index: 10; 
    }

    .sensors-panel-top-nav-content a {
        color: var(--color-link);
    }

    .sensors-panel-top-nav::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(5px);
    }

    .sensors-panel-top-nav-selector {
        display: inline-block
    }

    .sensors-panel {
        grid-template-columns: auto auto;
    }

    .sensors-panel-top-nav:target {
        display: block;
        /* animation: slideNavMobile 0.2s linear 0.2s forwards; */
    }

    @keyframes slideNavMobile {
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .sensors-panel-top-nav li {
        display: block;
    }

    .sensors-panel-top-nav li:not(:last-child) {
        margin-bottom: var(--gap);
    }

    .sensors-panel-top-nav--close {
        display: block;
    }

    .sensors-panel-top-nav--close:hover {
        color: var(--color-red)
    }

    .sensors-panel--top {
        align-items: flex-start
    }
}

@media screen and (max-width: 600px) {
    .sensors-panel--top {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .sensors-panel--top .sensors-panel-section:nth-child(2) {
        text-align: left;
    }

    .sensors-panel-top-nav-selector {
        position: absolute;
        top: calc(var(--gap) * 0.5);
        right: var(--gap);
    }

    .sensors-panel-section h1 {
        display: block;
    }
    
}

/* end of TOP PANEL */


/* BOTTOM PANEL */

.sensors-panel--bottom {
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: minmax(350px, 1fr) auto minmax(200px, 1fr); */
    bottom: 0;
}

.sensors-panel-status--color {
    width: 100%;
    min-width: 200px;
    height: 1rem;
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(0, 121, 107), rgb(0, 121, 107), rgb(249, 168, 37), rgb(230, 81, 0), rgb(221, 44, 0), rgb(221, 44, 0), rgb(140, 0, 132)) repeat scroll 0% 0%;
}

.sensors-panel-status--numbers {
    display: flex;
    justify-content: space-between
}

.sensors-panel-status--numbers div {
    display: inline-block;
    vertical-align: middle;
    font-size: 80%;
}

.sensors-panel-status--numbers div:nth-child(1) { color: rgb(0, 121, 107) }
.sensors-panel-status--numbers div:nth-child(2) { color: rgb(0, 121, 107) }
.sensors-panel-status--numbers div:nth-child(3) { color: rgb(249, 168, 37) }
.sensors-panel-status--numbers div:nth-child(4) { color: rgb(230, 81, 0) }
.sensors-panel-status--numbers div:nth-child(5) { color: rgb(221, 44, 0) }
.sensors-panel-status--numbers div:nth-child(6) { color: rgb(140, 0, 132) }

.sensors-panel--bottom .sensors-panel-section:nth-child(3) {
    text-align: right;
}

.sensors-date select {
    color: var(--color-dark);
}

.sensors-data .fa-circle-info {
    font-size: calc(var(--gap) * 2);
    color: var(--color-dark)
}

.sensors-data > * {
    display: inline-block !important;
    vertical-align: middle;
}

/* BOTTOM PANEL end */

/* CENTER PANELS */
*[class *= 'sensors-panel--center-'] {
    position: absolute;
    top: calc(var(--gap) * 5);
    bottom: var(--gap);
    z-index: 100;
    width: 48%;
}

.sensors-panel--center-right {
    right: var(--gap);
}

.sensors-panel--center-left {
    left: var(--gap);
}

*[class *= 'sensors-panel--center-'] .sensors-panel:not(:last-child) {
    margin-bottom: var(--gap);
}
/* CENTER PANELS end */


/* MAP LOADING */
.sensors-screen.loading .map {
    filter: grayscale(1);
    opacity: 0.5;
}

.sensors-screen .fa-spin {
    display: none;
}

.sensors-screen.loading .fa-spin {
    display: block;
    position: fixed;
    z-index: 100;
    top: calc(50% - 2rem);
    left: calc(50% - 2rem);
    font-size: 4rem;
    color: var(--color-link)
}
/* end of MAP LOADING */


/* DATE SELECT */
.sensors-dateselect input[type="date"] {
    padding: 0.2rem 0.5rem;
    border-width: 2px;
    font: inherit;
}

.sensors-dateselect span {
    display: inline-block;
    vertical-align: middle;
}

.sensors-dateselect .sensors-switcher label {
    margin: 0 0.4rem 0 1.2rem
}

@media screen and (max-width: 1250px) {

    .sensors-panel--bottom {
        /* align-items: flex-start; */
        display: block;
    }

    .sensors-panel--bottom .sensors-switcher {
        display: block;
        margin-top: calc(var(--gap) * 0.5)
    }

    .sensors-dateselect .sensors-switcher label {
        margin-left: 0;
    }

    *[class *= 'sensors-panel--center-'] {
        position: static;
        width: calc(100% - var(--gap)*2);
        margin: var(--gap)
    }
}

@media screen and (max-width: 600px) { 
    .sensors-panel--bottom {
        display: block;
    }

    .sensors-panel--bottom .sensors-panel-section:not(:last-child) {
        margin-bottom: var(--gap);
    }

    *[class *= 'sensors-panel--center-'] {
        position: fixed;
        top: calc(var(--gap) * 2);
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff !important;
        margin: 0;
        width: 100%;
        overflow-y: auto;
    }
}
/* end of DATE SELECT */

/* SENSOR POPUP */
.sensor-popup--subtitle {
    font-family: var(--font-family--normal);
    text-transform: none;
}

.sensor-popup--subtitle span:not(:last-child) {
    margin-right: var(--gap);
}

ul.sensor-popup--data {
    list-style: none;
    margin: calc(var(--gap)*3) 0
}

ul.sensor-popup--data .icon {
    display: inline-block;
    font-size: calc(var(--gap) * 1.5);
    text-align: center;
    width: calc(var(--gap) * 2.5);
}

.sensor-popup--content {
    height: 80%;
    overflow-y: auto;
    margin-top: var(--gap);
}
/* SENSOR POPUP end */

/* CSS TITLES */
[data-title] {
    cursor: help;
    position: relative;
    z-index: 10;
}

[data-title]:after {
    background-color: var(--color-dark);
    border-radius: 4px;
    color: var(--color-light);
    content: attr(data-title);
    max-height: 300px;
    opacity: 0;
    overflow-y: auto;
    padding: var(--gap);
    pointer-events: none;
    position: absolute;
    white-space: break-spaces;
    width: 250px;
    z-index: 9999;
}

[data-title]:hover:after {
    animation: fadeIn 0.2s ease-in-out 0.2s forwards;
}

.title__top:after {
    bottom: calc(var(--gap) * 1.8);
    left: 0;
}
/* CSS TITLES end */

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* + MAP */
.leaflet-control-attribution, .leaflet-control {
    filter: grayscale(1);
    pointer-events: none !important;
}
/* - MAP */